<article class="form-field dob-birthtime-wrapper" id="dob">
    <div ng-show="!enableNepaliCalendar">
        <div class="field-attribute">
            <label for="birthdate">{{ ::'REGISTRATION_LABEL_DOB_AD' | translate}}
                <span class="asterick" ng-show="::dobMandatory">*</span>
            </label>
        </div>
        <div class="field-value">
            <input id="birthdate" type="date" ng-model="patient.birthdate" max="{{::today}}" ng-change="patient.calculateAge()" ng-blur="handleUpdate('birthdate')"
                ng-required="::dobMandatory">
        </div>
    </div>
    <div ng-if="enableNepaliCalendar">
        <div class="field-attribute clear-line-fix">
            <label for="birthdate-bs">{{ ::'REGISTRATION_LABEL_DOB_BS' | translate}}
                <span class="asterick" ng-show="::dobMandatory">*</span>
            </label>
        </div>
        <div class="field-value">
            <input class="nepali-datepicker" id="birthdate-bs" type="text" max="{{::npToday}}" ng-model="patient.birthdateBS" ng-change="patient.updateAdDate(); patient.calculateAge();"
                ng-required="::dobMandatory" npdatepicker>
        </div>
    </div>
    <ng-include src="'views/estimatedDob.html'"></ng-include>
</article>