<div id="small-estimated-dob">
    <div ng-class="!enableNepaliCalendar && !enableEnglishCalendar ? 'clear-line-fix':'showOn-small-screen-registration clearfix'">
        <div class="field-attribute estimated-label">
            <label for="birthdate">{{ ::'REGISTRATION_LABEL_ESTIMATE' | translate}}</label>
        </div>
        <div class="field-value">
            <input type="checkbox" ng-model="patient.birthdateEstimated" class="estimate-check">
        </div>
    </div>
    <div ng-show="::showBirthTime" ng-class="!enableNepaliCalendar && !enableEnglishCalendar ? 'clear-line-fix field-attribute': 'field-attribute'">
        <label for="birthtime">{{ ::'REGISTRATION_LABEL_BIRTH_TIME' | translate}}</label>
    </div>
    <div ng-show="::showBirthTime" class="field-value">
        <input id="birthtime" type="time" ng-model="patient.birthtime" ng-blur="handleUpdate('birthtime')">
    </div>
</div>      