section.qrcode-wrapper {
    margin-top: 2rem;
}

article.qrcode-camera {
    text-align: center;

    video {
        margin: 20px auto;
        border: 0.5rem;
        background: #f2f2f2;
        width: 100%;
        height: auto;
    }

    div.qrcode-actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
}

article.qrcode-patient {
    margin-top: 2rem;
}